* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

/*Navigation Section */
nav li{
    font: caption;
    font-size: 15px;
}

nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:visited {
    color: inherit;
}

nav a:hover {
    background-color: black;
    color: white;
    padding: 10px;
}

/* Main Section */
main {
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Containers */
.jumbotron {
    background-color: transparent;
    height: 100vh;
}

.container-fluid {
    background: transparent;
}

/* Headings and Horizontal Line Style */
h1 {
    font-size: 70px;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-align: center;
}

hr {
    border-color: black;
    border-style: none;
    border-top-style: solid;
    border-width: 2px;
    width: 15%;
    margin: 0 auto;
}

h1, h2, hr {
    padding: 5px;
    background: transparent;
}

/* About Section */
#about {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about img {
    height: 335px;
    border-radius: 200px;
}

#about a:link, #about a:visited {
    color: black;
}
iframe {
    width: 335px;
    height: 200px;
}

/* Portfolio Section */
#portfolio {
    display: flex;
    flex-direction: column;
}

.work {
    width: 100%;
    padding: 5px 5px;
    flex: 1 1 50%;
  }
  
.work img {
    vertical-align: middle;
    width: 100%;
    height: 270px;
  }


.primarythumbnail {
    padding-bottom: 45%;
    position: relative;
    margin-bottom: 5px;
}

.primarythumbnail img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 495px;
}

.primarythumbnail figcaption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 35%;
    padding: 5px;
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
}
.secondarythumbnail {
    padding: 15px;
}

.secondarythumbnail figcaption {
    position: relative;
    padding: 5px;
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
}

/* Contact Section */
.contactcontainer {
    width: 95%;
    margin: 0 auto;
    padding: 10px 0px 5px 0px;    
}

.contactcontainer h2 {
    text-align: center;
}

.contactcontainer a {
    color: black;
    background-color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
}

.contactcontainer a:visited {
    color: inherit;
}

.contactcontainer a:hover {
    border: 1px solid black;
    padding: 25px;
}

.contactcard {
    height: 100px;
    text-align: center;
}

.contactcard i {
    font-size: 40px;
}
/* Footer Section */
footer {
    text-align: center;
    padding: 20px;
}

/* Media Queries */
@media only screen and (max-width: 600px) {


}

@media only screen and (max-width: 768px) {

}


