body{
    margin: 0;
}

/* Header and Navigation Section */
header::after {
    content: '';
    display: block;
    clear: both;    
}

.container {   
    width: 95%;
    margin: 0 auto;
    
}

.logo {
    float: left;
    width: 105px;
    padding: 10px;
}

nav {
    float: right;
    margin-top: 30px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    color: black;
    display: inline-block;
    margin-left: 30px;
    position: relative;
}

nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:visited {
    color: inherit;
}

nav a:hover {
    background-color: black;
    color: white;
    padding: 10px;
}

/*Viewport Style*/
.fullscreen {
    height: 100vh;
}

/* Main Section */
.maincontainer {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    text-align: center;
}

/* Headings and Horizontal Line Style */
h1 {
    font-size: 5rem;
    
}

h2 {
    font-size: 1.5rem;
}

hr {
    border-color: black;
    border-style: none;
    border-top-style: solid;
    border-width: 2px;
    width: 15%;
    margin: 0 auto;
}

h1, h2, hr {
    padding: 5px;
}

/* About Section */
#about {
    position: relative;
    display: flex;
    align-items: center;
}

.aboutcontainer {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}

#about img {
    width: 300px;
    height: 300px;
    border-radius: 80%;
    float: left;
    margin-left: 50px;
    margin-right: 30px;
}

#about p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 10px;
    margin-right: 30px;

}

/* Portfolio Section */
#portfolio {
    display: flex;
    flex-direction: column;
}

.portfoliocontainer {
    max-width: 95%;
    margin: 0 auto;
    padding: 10px 0;
}

.portfoliocontainer h2 {
    text-align: center;
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 -20px;
}

.work {
    width: 100%;
    padding: 5px 5px;
    flex: 1 1 50%;
  }
  
.work img {
    vertical-align: middle;
    width: 100%;
  }


.primarythumbnail {
    padding-bottom: 45%;
    position: relative;
    margin-bottom: 5px;
}

.primarythumbnail img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
}

.primarythumbnail figcaption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 25%;
    padding: 5px;
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
}
.secondarythumbnail {
    padding: 15px;
}

.secondarythumbnail figcaption {
    position: relative;
    padding: 5px;
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
}

/* Contact Section */
.contactcontainer {
    width: 95%;
    margin: 0 auto;
    padding: 10px 0px 5px 0px;    
}

.contactcontainer h2 {
    text-align: center;
}

.contactcontainer a {
    color: black;
    background-color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
}

.contactcontainer a:visited {
    color: inherit;
}

.contactcontainer a:hover {
    background-color: black;
    color: white;
    padding: 10px;
}

.contactcard {
    height: 100px;
    text-align: center;
}

.contactcard p {
    display: inline-block;
    margin-top: 40px;
}

/* Footer Section */
footer {
    text-align: center;
    padding: 20px;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    .logo {
        width: 20%;
    }

    nav li {
        margin-left: 10px;
    }

    nav li, .contactcard {
        font-size: small;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1rem;
    }

    #about img {
        width: 30%;
        height: 30%;
        margin-left: 0;
        margin-right: 7px;
    }

    #about h2 {
        display: inline-block;
        margin-left: 5px;
    }

    #about p {
        overflow: hidden;
    }

    .primarythumbnail figcaption {
        width: 45%;
    }
    
    .portfoliocontainer figcaption {
        font-size: 10pt;
    }
}