body{
    margin: 0;
}

header {
    border: 5px black dotted;
}

header::after {
    content: '';
    display: block;
    clear: both;    
}

.container {   
    width: 95%;
    margin: 0 auto;
    
}

.logo {
    float: left;
    width: 100px;
    padding: 10px;
}

nav {
    float: right;
    margin-top: 30px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 30px;
    position: relative;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    padding: 10px;
    background-color: teal;
    border: black 5px dotted;
}

.fullscreen {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;   
}

.maincontainer {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
}

h1 {
    font-size: 5rem;
    
}

hr {
    border-color: black;
    border-style: none;
    border-top-style: solid;
    border-width: 2px;
    width: 15%;
    margin: 0 auto;
}

h1, h2, hr {
    padding: 5px;
}